@model GTM.Models.EmployeeModel
@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/CommonScript.js"></script>
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Profile/UpdateProfile" title="Profile">Profile</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Profile/UpdateProfile" title="Update Profile">Update Profile</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>

@using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", Id = "UpdateProfile1" }))
{
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="basicClose">
                    <div class="title-alt">
                        <h6>Update Profile</h6>
                        <div class="titleClose">
                            <a class="gone" href="~/Profile/UpdateProfile">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>

                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Drip">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest" id="basic">
                        <div class="formone-center">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "error" })
                            @Html.HiddenFor(model => model.EmployeeId)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form-label" })
                                        @Html.TextAreaFor(model => model.Address, new { @class = "text-height" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.CountryId, new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), GTM.Resources.Resource.Select, new { @class = "form-control", onchange = "javascript:FillState();" })
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.StateList, "StateId", "StateName"), GTM.Resources.Resource.Select, new { @class = "form-control", onchange = "javascript:FillCity();" })
                                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.CityId, new SelectList(ViewBag.CityList, "CityId", "CityName"), GTM.Resources.Resource.Select, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AlternateNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.AlternateNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AlternateNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmergencyNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.EmergencyNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmergencyNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DateofBirth, htmlAttributes: new { @class = "form-label" })
                                        <div id="DateofBirth" class="input-group date" data-date-format="dd-mm-yyyy">
                                            @Html.EditorFor(model => model.DateofBirth, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.HiddenFor(model => model.DateofBirth)
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "error" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.BloodGroup, new SelectList(ViewBag.BloodGroupList, "BloodGroupName", "BloodGroupName"), GTM.Resources.Resource.Select, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" value="Save" class="btn btn-primary">
                                            @{var btntext = ""; if (Model.EmployeeId == 0) { btntext = "Save"; } else { btntext = "Update"; }} @btntext
                                        </button>
                                        <a href="~/Profile/UpdateProfile" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    function FillState() {
        var selectedval = $("#CountryId").val();
        CommonScript.FillState(selectedval);
    }

    function FillCity() {
        var selectedval = $("#StateId").val();
        CommonScript.FillCity(selectedval);
    }

    $("#MobileName").keyup(function () {
        CheckEmployeeName($("#MobileName").val(), $("#EmployeeId").val(), $("#BranchId").val());
    });

    $("#MobileName").blur(function () {
        if ($('#MobileName-error').html() == '') {
            CheckEmployeeName($("#MobileName").val(), $("#EmployeeId").val(), $("#BranchId").val());
        }
    });

    function CheckEmployeeName(MobileName, EmployeeId) {
        $.ajax({
            url: '/Master/CheckEmployeeName?MobileName=' + MobileName + '&EmployeeId=' + EmployeeId,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.message != '') {
                    toastr.error(result.message, "GTM");
                }
            },
            error: function (data) { }
        });
    }

    $(document).ready(function () {
        $("#DateofBirth").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());

        $("#LicenceIssueDate").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());

        $("#LicenceExpiryDate").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());

        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>
