@model GTM.Models.VehicleReturnModel
@{
    ViewBag.Title = "Add Vehicle Return Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Return/Return" title="Vehicle Return @GTM.Resources.Resource.List">Vehicle Return Lists</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="#" title="Vehicle Return">Add Vehicle Return</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control" />
        </div>
    </li>
</ul>

@using (Html.BeginForm("AddReturnVehicle", "Return", FormMethod.Post, new { enctype = "multipart/form-data", Id = "AddReturnVehicle" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    @Html.HiddenFor(model => model.VehicleReturnId)
    @Html.HiddenFor(model => model.BookingId)

    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="DripClose">
                    <div class="title-alt">
                        <h6>Add Vehicle Return Details</h6>
                        <div class="titleClose">
                            <a class="gone" href="~/Return/Return">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>

                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Drip">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest widthdiv" id="Drip">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="bookingdetails">
                                    <div class="row">
                                        <div class="div-booking" style="width:100%;">
                                            <div class="title-head">
                                                <h6>Booking Details</h6>
                                            </div>

                                            <div class="div-forms">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td><label title="Booking No">Booking No</label></td>
                                                            <td>&nbsp; : &nbsp;</td>
                                                            <td><label id="lblBookingNo" class="td-details"></label></td>
                                                        </tr>

                                                        <tr>
                                                            <td><label title="Booking Date">Booking Date</label></td>
                                                            <td>&nbsp; : &nbsp;</td>
                                                            <td> <label id="lblBookingDate" class="td-details"></label></td>
                                                        </tr>

                                                        <tr>
                                                            <td> <label title="Journey Date">Journey Date</label></td>
                                                            <td>&nbsp; : &nbsp;</td>
                                                            <td> <label id="lblJourneyDate" class="td-details"></label></td>
                                                        </tr>

                                                        <tr>
                                                            <td>   <label title="Journey End Date">Journey End Date</label></td>
                                                            <td>&nbsp; : &nbsp;</td>
                                                            <td> <label id="lblJourneyEndDate" class="td-details"></label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 m-t-10">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FinalReading, htmlAttributes: new { @style = "float:left;margin-right:8px;padding-top: 5px;" })
                                    @Html.EditorFor(model => model.FinalReading, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                                    @Html.ValidationMessageFor(model => model.FinalReading, "", new { @class = "error" })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div id="divAccept" style="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title-head b1">
                                                <h6>Booklet Details</h6>
                                            </div>
                                            <div class="div-titles b2">
                                                <div class="scroll-div">
                                                    <table id="tblBookletDetails" class="table table-hover" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:25%">Booklet No</th>
                                                                <th style="width:30%">Booklet Leaf No</th>
                                                                <th style="width:20%">Alloted</th>
                                                                <th style="width:25%"><input id='chkSelectAllBooklet' type="checkbox" />Is Used</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @for (var i = 0; i < Model.VehicleReturnBookletDetailLists.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(item => item.VehicleReturnBookletDetailLists[i].BookletNo)
                                                                        @Html.HiddenFor(item => item.VehicleReturnBookletDetailLists[i].BookletNo)
                                                                        @Html.HiddenFor(item => item.VehicleReturnBookletDetailLists[i].BookletId)
                                                                        @Html.HiddenFor(item => item.VehicleReturnBookletDetailLists[i].BookingId)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(item => item.VehicleReturnBookletDetailLists[i].BookletLeafNo)
                                                                        @Html.HiddenFor(item => item.VehicleReturnBookletDetailLists[i].BookletLeafNo)
                                                                    </td>
                                                                    <td>
                                                                        @Html.CheckBoxFor(item => item.VehicleReturnBookletDetailLists[i].IsAlloted, new { @disabled = "disabled" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.CheckBoxFor(item => item.VehicleReturnBookletDetailLists[i].IsUsed, new { @class = "chkRowBooklet" })
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="title-head i1">
                                                <h6>Item Check List Details</h6>
                                            </div>
                                            <div class="div-titles i2">
                                                <div class="scroll-div">
                                                    <table id="tblCheckListDetails" class="table table-hover" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:60%">Check List Item</th>
                                                                <th style="width:20%">Before</th>
                                                                <th style="width:20%"><input id='chkSelectAllCheckList' type="checkbox" />Return</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @for (var i = 0; i < Model.VehicleReturnCheckLists.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(item => item.VehicleReturnCheckLists[i].ItemName)
                                                                        @Html.HiddenFor(item => item.VehicleReturnCheckLists[i].ItemName)
                                                                        @Html.HiddenFor(item => item.VehicleReturnCheckLists[i].CheckListItemId)
                                                                        @Html.HiddenFor(item => item.VehicleReturnCheckLists[i].BookingId)
                                                                    </td>
                                                                    <td>
                                                                        @Html.CheckBoxFor(item => item.VehicleReturnCheckLists[i].IsProper, new { @disabled = "disabled" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.CheckBoxFor(item => item.VehicleReturnCheckLists[i].IsProperInReturn, new { @class = "chkRowchecklist" })
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>

                            <div class="col-sm-12 p-t-23 float-center">
                                <div class="form-group">
                                    <button type="submit" value="Save" class="btn btn-primary">
                                        @{var btntext = ""; if (Model.VehicleReturnId == 0) { btntext = "Save"; } else { btntext = "Update"; }} @btntext
                                    </button>
                                    <a href="~/Return/ReturnVehicle" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                            }
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    function GetBookingDetails(BookingId) {
        $.ajax({
            url: '/Return/GetBookingDetails?BookingId=' + BookingId,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result != '') {
                    $("#lblBookingNo").html(result.BookingNo);
                    $("#lblBookingDate").html(result.BookDate);
                    $("#lblJourneyDate").html(result.StartDate);
                    $("#lblSourceName").html(result.SourceName);
                    $("#lblJourneyEndDate").html(result.EndDate);
                }
            },
            error: function (data) { }
        });
    }

    $("#chkSelectAllBooklet").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblBookletDetails").find(".chkRowBooklet");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });

    $(".chkRowBooklet").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = $("#chkSelectAllBooklet");
        //By default set to Checked.
        chkAll.attr("checked", "checked");
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblBookletDetails").find(".chkRowBooklet");
        //Execute loop over the CheckBoxes and if even one CheckBox
        //is unchecked then Uncheck the Header CheckBox.
        chkRows.each(function () {
            if (!$(this).is(":checked")) {
                chkAll.removeAttr("checked", "checked");
                return;
            }
        });
    });

    $("#chkSelectAllCheckList").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblCheckListDetails").find(".chkRowchecklist");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });

    $(".chkRowchecklist").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = $("#chkSelectAllCheckList");
        //By default set to Checked.
        chkAll.attr("checked", "checked");
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblCheckListDetails").find(".chkRowchecklist");
        //Execute loop over the CheckBoxes and if even one CheckBox
        //is unchecked then Uncheck the Header CheckBox.
        chkRows.each(function () {
            if (!$(this).is(":checked")) {
                chkAll.removeAttr("checked", "checked");
                return;
            }
        });
    });

    $(document).ready(function () {
        GetBookingDetails($("#BookingId").val());
        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>