@model GTM.Models.BranchModel
@{
    ViewBag.Title = "Add Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/CommonScript.js"></script>
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/Branch" title="@GTM.Resources.Resource.Branch @GTM.Resources.Resource.List">@GTM.Resources.Resource.Branch</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/AddBranch" title="@GTM.Resources.Resource.Add @GTM.Resources.Resource.Branch">@GTM.Resources.Resource.Add @GTM.Resources.Resource.Branch</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>

@using (Html.BeginForm("AddBranch", "Master", FormMethod.Post, new { enctype = "multipart/form-data", Id = "AddBranch" }))
{
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="basicClose">
                    <div class="title-alt">
                        <h6>@GTM.Resources.Resource.Add @GTM.Resources.Resource.Branch</h6>
                        <div class="titleClose">
                            <a class="gone" href="~/Master/Branch">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>

                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Drip">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest" id="basic">
                        <div class="form_center">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "error" })
                            @Html.HiddenFor(model => model.BranchId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.BranchName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.Address, new { @class = "text-height" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.CountryId, new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), GTM.Resources.Resource.Select, new { @class = "form-control", onchange = "javascript:FillState();" })
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.StateList, "StateId", "StateName"), GTM.Resources.Resource.Select, new { @class = "form-control", onchange = "javascript:FillCity();" })
                                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.CityId, new SelectList(ViewBag.CityList, "CityId", "CityName"), GTM.Resources.Resource.Select, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "error" })
                                </div>
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" })
                            </div>

                            <div class="form-group">
                                <button type="submit" value="Save" class="btn btn-primary">
                                    @{var btntext = ""; if (Model.BranchId == 0) { btntext = "Save"; } else { btntext = "Update"; }} @btntext
                                </button>
                                <a href="~/Master/Branch" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                        }

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    function FillState() {
        var selectedval = $("#CountryId").val();
        CommonScript.FillState(selectedval);
    }

    function FillCity() {
        var selectedval = $("#StateId").val();
        CommonScript.FillCity(selectedval);
    }

    $("#BranchName").keyup(function () {
        CheckBranchName($("#BranchName").val(), $("#BranchId").val());
    });

    $("#BranchName").blur(function () {
        if ($('#BranchName-error').html() == '') {
            CheckBranchName($("#BranchName").val(), $("#BranchId").val());
        }
    });

    function CheckBranchName(BranchName, BranchId) {
        $.ajax({
            url: '/Master/CheckBranchName?BranchName=' + BranchName + '&BranchId=' + BranchId,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.message != '') {
                    toastr.error(result.message, "GTM");
                }
            },
            error: function (data) { }
        });
    }

    $(document).ready(function () {
        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>

@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
            @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}