@model GTM.Models.CompanyModel

@{
    ViewBag.Title = "Add Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/Company" title="@GTM.Resources.Resource.CompanyName @GTM.Resources.Resource.List">@GTM.Resources.Resource.CompanyName</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/AddCompany" title="@GTM.Resources.Resource.Add @GTM.Resources.Resource.CompanyName">@GTM.Resources.Resource.Add @GTM.Resources.Resource.CompanyName</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>

@using (Html.BeginForm("AddCompany", "Master", FormMethod.Post, new { enctype = "multipart/form-data", Id = "AddCompany" }))
{
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="basicClose">
                    <div class="title-alt">
                        <h6>@GTM.Resources.Resource.Add @GTM.Resources.Resource.CompanyDetail</h6>
                        <div class="titleClose">
                            <a class="gone" href="~/Master/City">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Drip">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest" id="basic">
                        <div class="formone-center">
                            <div class="row">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "error" })
                                @Html.HiddenFor(model => model.CompanyId)

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RegistrationNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.RegistrationNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address3, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.CountryId, new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), "Country Name", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.StateList, "StateId", "StateName"), "State Name", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.CityId, new SelectList(ViewBag.CityList, "CityId", "CityName"), "City Name", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AlternateMobileNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.AlternateMobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AlternateMobileNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FaxNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.FaxNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FaxNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.URL, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GSTNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.GSTNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PANNo, htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.PANNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PANNo, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group m-t-2">
                                        <button type="submit" value="Save" class="btn btn-primary">
                                            @{var btntext = ""; if (Model.CompanyId == 0) { btntext = "Save"; } else { btntext = "Update"; }} @btntext
                                        </button>
                                        <a href="~/Master/Company" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                }

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    $("#CompanyName").keyup(function () {
        CheckCompanyName($("#CompanyName").val(), $("#CompanyId").val());
    });

    $("#CompanyName").blur(function () {
        if ($('#CompanyName-error').html() == '') {
            CheckCompanyName($("#CompanyName").val(), $("#CompanyId").val());
        }
    });

    function CheckCompanyName(CompanyName, CompanyId, BranchId) {
        $.ajax({
            url: '/Master/CheckCompanyName?CompanyName=' + CompanyName + '&CompanyId=' + CompanyId + '&BranchId=' + BranchId,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.message != '') {
                    toastr.error(result.message, "GTM");
                }
            },
            error: function (data) { }
        });
    }

    $(document).ready(function () {
        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>

