@model GTM.Models.CheckListItemModel
@{
    ViewBag.Title = "Add Check List Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/CheckListItem" title="Check List Item @GTM.Resources.Resource.List">Check List Item</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/AddCheckListItem" title="@GTM.Resources.Resource.Add Check List Item">@GTM.Resources.Resource.Add Check List Item</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>

@using (Html.BeginForm("AddCheckListItem", "Master", FormMethod.Post, new { enctype = "multipart/form-data", Id = "AddCheckListItem" }))
{
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="basicClose">
                    <div class="title-alt">
                        <h6>@GTM.Resources.Resource.Add Check List Item</h6>
                        <div class="titleClose">
                            <a class="gone" href="~/Master/CheckListItem">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>

                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Drip">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest" id="basic">
                        <div class="form_center">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "error" })
                            @Html.HiddenFor(model => model.CheckItemId)



                            <div class="form-group">
                                @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.BrandId, new SelectList(ViewBag.BrandList, "BrandId", "BrandName"), "Select", new { @class = "form-control input-sm width-min-100" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.CategoryList, "CategoryId", "CategoryName"), "Select", new { @class = "form-control input-sm width-min-100" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.SupplierId, new SelectList(ViewBag.SupplierList, "SupplierId", "SupplierName"), "Select", new { @class = "form-control input-sm width-min-100" })
                                @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.ContractNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CheckListItemName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.CheckListItemName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CheckListItemName, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.Description, new { @class = "text-height" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductPrice, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "error" })
                                </div>
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" })
                            </div>

                            <div class="form-group">
                                <button type="submit" value="Save" class="btn btn-primary">
                                    @{var btntext = ""; if (Model.CheckItemId == 0) { btntext = "Save"; } else { btntext = "Update"; }} @btntext
                                </button>
                                <a href="~/Master/CheckListItem" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                        }

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    $("#CheckListItemName").keyup(function () {
        CheckCheckListItemName($("#CheckListItemName").val(), $("#CheckListItemId").val(), $("#BranchId").val());
    });

    $("#CheckListItemName").blur(function () {
        if ($('#CheckListItemName-error').html() == '') {
            CheckCheckListItemName($("#CheckListItemName").val(), $("#CheckListItemId").val(), $("#BranchId").val());
        }
    });

    function CheckCheckListItemName(CheckListItemName, CheckListItemId, BranchId) {
        $.ajax({
            url: '/Master/CheckCheckListItemName?CheckListItemName=' + CheckListItemName + '&CheckListItemId=' + CheckListItemId + '&BranchId=' + BranchId,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.message != '') {
                    toastr.error(result.message, "GTM");
                }
            },
            error: function (data) { }
        });
    }

    $(document).ready(function () {
        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>