@model GTM.Models.SMSSettingModel
@{
    ViewBag.Title = "Add SMS Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/SMSSetting" title="SMS Setting @GTM.Resources.Resource.List">SMS Setting</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/AddSMSSetting" title="@GTM.Resources.Resource.Add SMS Setting">@GTM.Resources.Resource.Add SMS Setting</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>

@using (Html.BeginForm("AddSMSSetting", "Master", FormMethod.Post, new { enctype = "multipart/form-data", Id = "AddSMSSetting" }))
{
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="basicClose">
                    <div class="title-alt">
                        <h6>@GTM.Resources.Resource.Add SMS Setting</h6>
                        <div class="titleClose">
                            <a class="gone" href="~/Master/SMSSetting">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>

                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Drip">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>

                    <div class="body-nest" id="basic">
                        <div class="form_center">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "error" })
                            @Html.HiddenFor(model => model.SMSSettingId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SMSServerURL, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.SMSServerURL, new { @class = "text-height" })
                                @Html.ValidationMessageFor(model => model.SMSServerURL, "", new { @class = "error" })
                            </div>

                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "error" })
                                </div>
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" })
                            </div>

                            <div class="form-group">
                                <button type="submit" value="Save" class="btn btn-primary">
                                    @{var btntext = ""; if (Model.SMSSettingId == 0) { btntext = "Save"; } else { btntext = "Update"; }} @btntext
                                </button>
                                <a href="~/Master/SMSSetting" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                        }

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    $("#SMSSettingName").keyup(function () {
        CheckSMSSettingName($("#SMSSettingName").val(), $("#SMSSettingId").val(), $("#BranchId").val());
    });

    $("#SMSSettingName").blur(function () {
        if ($('#SMSSettingName-error').html() == '') {
            CheckSMSSettingName($("#SMSSettingName").val(), $("#SMSSettingId").val(), $("#BranchId").val());
        }
    });

    function CheckSMSSettingName(SMSSettingName, SMSSettingId, BranchId) {
        $.ajax({
            url: '/Master/CheckSMSSettingName?SMSSettingName=' + SMSSettingName + '&SMSSettingId=' + SMSSettingId + '&BranchId=' + BranchId,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.message != '') {
                    toastr.error(result.message, "GTM");
                }
            },
            error: function (data) { }
        });
    }

    $(document).ready(function () {
        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>