@model IEnumerable<GTM.Models.EmployeeModel>
@{
    ViewBag.Title = GTM.Resources.Resource.Employee + ' ' + GTM.Resources.Resource.List;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/Employee" title="@GTM.Resources.Resource.Employee @GTM.Resources.Resource.List">@GTM.Resources.Resource.Employee</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="~/Master/AddEmployee" title="@GTM.Resources.Resource.Add @GTM.Resources.Resource.Employee">@GTM.Resources.Resource.Add @GTM.Resources.Resource.Employee</a>
    </li>
    <li class="pull-right" style="display:none;">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control" />
        </div>
    </li>
</ul>

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="DripClose">
                <div class="title-alt">
                    <h6>@GTM.Resources.Resource.Employee @GTM.Resources.Resource.List</h6>
                    <div class="titleClose">
                        <a class="gone" href="~/Master/Employee">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>

                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Drip">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>

                <div class="body-nest" id="Drip">
                    <section data-valign="center" data-cols="1" data-name="preview">
                        <div class="entypo-tooltip">
                            <header class="box-typical-header">
                                <div class="tbl-row">
                                    <div class="tbl-cell tbl-cell-title">
                                        <div class="btn-group btn-group-sm" style="float: none;">
                                            <a href="/Master/AddEmployee" class="btn btn-inline btn-primary btn-sm ladda-button"><span class="glyphicon glyphicon-plus" style="color:#ffffff"></span>&nbsp;@GTM.Resources.Resource.Add</a>
                                            <a id="aDownloadEmployeeExcel" href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download" style="color:#ffffff"></span>&nbsp;@GTM.Resources.Resource.ExportToExcel</a>
                                        </div>
                                    </div>
                                    <div class="tbl-cell tbl-cell-sorces">
                                        <ul class="statusul">
                                            <li>(<p class="Active statusbox" style="">&nbsp;</p>) Active </li>
                                            <li>(<p class="Inactive statusbox">&nbsp;</p>) Inactive </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </header>

                            <div id="divEmployeeList">
                                <table id="tblEmployee" class="display table table-striped table-bordered " cellspacing="0" width="100%">
                                    <colgroup>
                                        <col style="width:15%;">
                                        <col style="width:15%;">
                                        <col style="width:25%;">
                                        <col style="width:15%;">
                                        <col style="width:15%;">
                                        <col style="width:05%;">
                                        <col style="width:05%;">
                                        <col style="width:05%;">
                                    </colgroup>

                                    <thead>
                                        <tr role="row">
                                            <th>@GTM.Resources.Resource.Department</th>
                                            <th>@GTM.Resources.Resource.EmployeeType</th>
                                            <th>@GTM.Resources.Resource.EmployeeName</th>
                                            <th>@GTM.Resources.Resource.MobileNo</th>
                                            <th>@GTM.Resources.Resource.EmailId</th>
                                            <th>@GTM.Resources.Resource.Status</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </section>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script type="text/javascript">
    var searchtext = '';
    $(function () {
        FillEmployee();
    });

    function DeleteEmployee(EmployeeId) {
        if (confirm("Are you sure,You want to delete employee details?")) {
            $.ajax({
                url: '/Master/DeleteEmployee?EmployeeId=' + EmployeeId,
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    proccessingWindow();
                },
                success: function (result) {
                    jsondata = JSON.parse(result);
                    if (jsondata) {
                        toastr.success("Employee deleted successfully.", "GTM");
                        FillEmployee();
                    }
                    else {
                        toastr.error("Some Problem occured while deleting Employee details.", "GTM");
                        FillEmployee();
                    }
                },
                complete: function (data) {
                    closeingProccessingWindow();
                },
                error: function (data) {
                    console.log(data);
                    toastr.error("Please refresh page.", "GTM");
                }
            });
        }
    }

    function FillEmployee() {
        $("#aDownloadEmployeeExcel").attr('href', '\\Master\\DownloadEmployeeExcel?searchText=' + searchtext);

        $("#tblEmployee").DataTable({
            "processing": true, // for show progress bar
            "destroy": true,    // for reinitialise
            "serverSide": true, // for process server side
            "filter": true,    // this is for disable filter (search box)
            "orderMulti": false,// for disable multiple column at once
            "ajax": {
                "url": '/Master/SearchEmployee?searchText=' + searchtext,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "DepartmentName", "name": "DepartmentName", "autoWidth": true },
                { "data": "EmployeeTypeName", "name": "EmployeeTypeName", "autoWidth": true },
                { "data": "FirstName", "name": "FirstName", "autoWidth": true },
                { "data": "MobileNo", "name": "MobileNo", "autoWidth": true },
                { "data": "EmailId", "name": "EmailId", "autoWidth": true },
                {
                    "data": "StatusClass", "width": "50px", "render": function (data) {
                        return "<p class='" + data + "'</p>";
                    }
                },
                {
                    "data": "EmployeeId", "width": "50px", "render": function (data) {
                        return '<a class="btn-primary btn-sm fa" title="Edit" href="/Master/AddEmployee?EmployeeId=' + data + '"><span class="glyphicon glyphicon-pencil" style="color:#ffffff;margin:0px !important;"></span></a>';
                    }
                },
                {
                    "data": "EmployeeId", "width": "50px", "render": function (data) {
                        return '<a id="btnDeleteEmployee" href="#" onclick="DeleteEmployee(' + data + ')" class="fa fa-delete btn-danger btn-sm fa" title="Delete"><span class="glyphicon glyphicon-trash" style="color:#ffffff;margin:0px !important;"></span></a>';
                    }
                }]
        });
    }

    $(document).ready(function () {
        var msgtype = '@TempData["MessageType"]';
        var msg = '@TempData["Message"]';

        if (msgtype != null) {
            if (msgtype != '') {
                if (msgtype == "Success") {
                    toastr.success(msg, "GTM");
                }
                else if (msgtype == "Error") {
                    toastr.error(msg, "GTM");
                }
            }
        }
    });
</script>